@model BankConfirmations_DTO.Account

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Client</h1>

<div>
    <dl class="row-noform">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <div class="form-group-input-delete">
        <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="button btn-success" asp-action="Index">Back to List</a>
        </form>
        </div>
    </dl>
</div>
